<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kyle's PokeDex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper indigo darken-2">
          <a href="/" class="brand-logo center"><img src="/img/pokedexLogo.png"></a>
          <ul id="nav-mobile" class="hide-on-med-and-down left">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
