<%- include ./partials/header.ejs %>
    <h1>The Most Exclusive Pokemon Information on the NETTTT</h1>
    <div class="card">
      <button class="waves-effect waves-light btn" type="button">button</button>
    </div>
<%- include ./partials/footer.ejs %>
