<%- include ./partials/header.ejs %>

<h1>Login Page</h1>
<div class="row">
  <form class="col s12" method="post" action="/login">
    <div class="input-field col s6 offset-s0 offset-m2 offset-l3">
      <i class="material-icons prefix">account_circle</i>
      <input id="userID-input" class="icon_prefix validate" type="text">
      <label for="userID-input" class="icon_prefix validate">User ID</label>
    </div>
    <div class="input-field col s6 offset-s0 offset-m2 offset-l3">
      <i class="material-icons prefix">vpn_key</i>
      <input id="userPassword-input" class="icon_prefix validate" type="text">
      <label for="userPassword-input" class="icon_prefix validate">Password</label>
    </div>
    <div class="col s6 offset-s3 offset-m4 offset-l5">
      <br />
      <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
<%- include ./partials/footer.ejs %>
